{% extends 'teachers/base.html' %}

{% block title %}
    Teachers list
{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="first_name"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="last_name"><br><br>
        <label for="subject">Subject:</label>
        <input type="text" name="subject"><br><br>
        <label for="years">Seniority years:</label>
        <input type="number" name="seniority_years"><br><br>
        <label for="phone">Phone number:</label>
        <input type="number" name="phone_number"><br><br>
        <input type="submit" value="Search">
    </form>
    {% for teacher in teachers %}
        <a href="update/{{ teacher.id }}/">Edit</a>&nbsp;&nbsp;{{ teacher }}<br>
    {% endfor %}
{% endblock %}
